*{
    /*background-color: rgb(242, 242, 237);
    position: absolute;*/
}

.MS-Uebersicht{
    width: 1200px;
    height: 310px;
    box-shadow: 1px 2px 1px 1px  gray;
    border-radius: 5px;
    margin: 20px 0px 0 0px;
    background-color: rgb(183, 194, 87);
}

h1{
    color: white;
    font-size: 30px;
}

h1:hover{
    /*
    background-color: cadetblue;
    */
}

header ul{
    position: absolute;
    right:2vw;
    top:10px;
    line-height: 80px;
}

header li{
    display: inline;
    
    margin-right: 10vw;
    
}


header a {
    color:white;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

p{
    color: black;
    background-color:azure;
}

ol{
    float: right; 
    background-color: transparent;
     
    /*margin: 20px; margin: 10px 0 0 140px;padding: 20px;*/
    font-size: 16px;
    margin-top: 1px;
    margin-right: 100px;
    display: grid;
    row-gap: 8px;
}

[type]{
    background-color: transparent;
}

/*style="float: left; background-color: aquamarine;padding: 20px; margin: 20px;">*/

h2{
    color: blue;
}
.food{
    color: red;

}

.person{
    color: blue;
}

.backgroundgrey{
    background-color: grey;

}

#css-id-test  {
    color: rgb(241, 11, 26);
}




/* flex 显示成行的形式 */
.container{
    display: flex;
    flex-wrap: wrap; /* flex-wrap 自动换行 */
    flex-direction: row; /* 改变显示顺序， 行row或者列column; column-reverse 主轴由下而上*/
    height: 200px; 
    border: 1px solid rgb(228, 91, 12);
    justify-content: space-around;/* center 移至中心位置 flex-end 移至末端 flex-start 移至左边 space-around; space-between space-evenly等分间距 */
    /*align-items: center; /* 次轴调整， 这里是至中新位置 */
    align-content: center; /* 万能调整次轴位置， 以content为基准 */
}

.container div{
    border: 1px solid rebeccapurple;
    padding: 10px;
    width: 300px;
    height: 100px;
}

/* flex 显示在屏幕上的长度等分份额; order 显示位置次序 */
.box-1{
    
   /*flex: 1;
    order: 1;*/
}
.box-2{
    /*flex: 1;
    /*order: 3;*/
}
.box-3{
    /*flex: 1;
    /*order: 2;*/
}

.button-1 {
    background-color: rgb(42, 165, 165);
    color: rgb(216, 29, 169);
    border: none;
    font-size: 20px;
    padding: 10px 20px 10px 20px;

    cursor: pointer;
}
.button-2:hover{
    /*background-color: green;*/
    opacity: 0.8;
}
.button-2:active{
    /*background-color: red;*/
    opacity: 0.4;
}
.button-2 {
    background-color:rgb(216, 222, 135);   
    color: white;
    border: none;
    font-size: 20px;
    width: 200px;
    height: 50px;
    margin-left: 30px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 5px 5px 5px black;
}
#button-3:hover{
    background-color: green;
    color: white;
}
#button-3{
    transition: background-color 1s, color 1s;
    margin-left: 30px;
    background-color: white;
    color: rgb(29, 216, 54);
    
    font-size: 20px;
    padding: 10px 55px 10px 55px;
    border-radius: 999px;
    border-color: green;
    border-style: solid;
    border-width: 3px;
    cursor: pointer;
}

.card{
    width: 400px;
    height: 200px;
    /*border: 1px solid black;*/
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    box-shadow: 5px 5px 5px gray;
    border-radius: 5px;
}

.left{
    width: 40%;
    height: 100%;
    background-color: rgb(24, 105, 172);
    border-radius: 5px 0 0 5px;
    border-right: 1px solid rgb(175,175,175);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.right{
    width: 60%;
    height: 100%;
    background-color: rgb(9, 50, 106);
    border-radius: 0 5px 5px 0;
}

.xinzhilei{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;

}

h4{
    color: white;
    font-family: sans-serif;

}

.hinweise{
    color: white;
    background-color: transparent;
    font-size: 15px;
    font-family: sans-serif;
    padding: 10px 20px 5px 20px;
    
}

.social-icons{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.icons{
    width: 40px;
    height: 40px;
    color: white;
}

.card-autor{
    float: right;
    width: 400px;
    height: 220px;
    /*border: 1px solid black;*/
    margin-right: 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    box-shadow: 5px 5px 5px gray;
    border-radius: 5px;
}

.left-autor{
    width: 100%;
    height: 100%;
    background-color: rgb(24, 105, 172);
    border-radius: 5px 5px 5px 5px;
    border-right: 1px solid rgb(175,175,175);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.Zhujinghong{
    width: 120px;
    /*height: 120px;*/
    /*border-radius: 50%;*/
    margin-top: 10px;
    margin-left: 10px;
}

.shuru{
    height: 30px;
    width: 300px; 
}

.sprach{
    
    display: inline;
    
    /*
    display: inline;
    padding-top: 3px;
    padding-right: 10px;
    header
    */
    margin-top: -10px;
    margin-right: 3px;
    font-size: 12px;


}


